<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              Latest Orders
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                  <% @orders.limit(4).each do |order| %>
              <b>
              <%= link_to   order_url(order) do %>
              <%= order.typ %> on <%= order.created_at %> </b>
              <% end %>
              <br>
            <% end %>
                  </div>
              </div>
          </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="panel panel-primary">
          <div class="panel-heading">
              Friend's activties
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-12">
                  <% @all.each do |forder| %>
                <% forder.each do |order|%>
                <b>
                <%= order.user.name %> has created an order for <%= order.typ %> from <%= order.resturant %></br>
                <% end %> </b>

                <br>
              <% end %>
                  </div>
              </div>
          </div>
      </div>
    </div>

  </div>
</div>
