<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
  <div class="col-md-6">

  <div class="field">
    <%= form.label :resturant %>
    <%= form.text_field :resturant, id: :order_resturant %>
  </div>

  <div class="field">
    <%= form.label :menu %>
    <%= form.file_field :menu, id: :order_menu %>
  </div>

  <div class="field">
    <%= form.label :typ %>
    <%= form.text_field :typ, id: :order_typ %>
  </div>


  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :statu, id: :order_statu %>
  </div>

    <div class="field">
      <%= form.label :Friends %>
      <%= form.text_field :user_id, id: :order_user_id %>
    </div>


    <div class="actions">
    <%= form.submit %>
  </div>
  </div>
    <div class="col-md-6">

    </div>
  </div>
      <% form.label :Friends %>
      <%form.number_field :user_id, id: :order_user_id %>
    </div>

    <div class="field">
      <%= form.label :friendEmail %>
      <%= form.text_field :friendEmail, id: :friendEmail, :id => 'chooseFriend' %>
    </div>

    <div class="actions">
    <%= form.submit :id => 'AddNewOrder' %>
  </div>
  </div>
    <div class="col-md-6">

    </div>
  </div>
</div>
<% end %>
